<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>微金所.广州</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="./favicon.ico">
    <link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/font.css">
    <!--[if lt IE 9]>
    <script src="./lib/html5shiv/html5shiv.min.js"></script>
    <script src="./lib/respond/respond.js"></script>
    <![endif]-->
</head>
<body>
<!-- topbar  顶部-->
<div class="wjs_topbar hidden-sm hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <a href="javascript:; " class="wjs_app">
                    <span class="wjs_icon wjs_icon_phone"></span>
                    <span>手机微金所</span>
                    <span class="glyphicon glyphicon-menu-down"></span>
                    <img src="./images/code.jpg" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <span class="wjs_icon wjs_icon_tel"></span>
                <a href="#">4006-89-4006（服务时间：9:00-21:00）</a>
            </div>
            <div class="col-md-2">
                <a href="#">常见问题</a>
                <a href="#" class="ml10">财富登陆</a>
            </div>
            <div class="col-md-3">
                <a type="button" class="btn btn-danger btn-xs register_btn">免费注册</a>
                <a type="button" class="btn btn-link login_btn">登录</a>
            </div>
        </div>
    </div>
</div>
<!-- nav     导航条-->
<nav class="wjs_nav navbar wjs_navbar">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <span class="wjs_icon wjs_icon_logo"></span>
                <span class="wjs_icon wjs_icon_text"></span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">我要投资</a></li>
                <li><a href="#">我要借贷</a></li>
                <li><a href="#">平台介绍</a></li>
                <li><a href="#">新手介绍</a></li>
                <li><a href="#">最新动态</a></li>
                <li><a href="#">微平台</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">
                <li><a href="#">个人中心</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- banner  轮播-->
<div class="wjs_banner">
    <div id="imgBox" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <!--动态渲染小圆点-->
        </ol>
        <div class="carousel-inner" role="listbox">
            <!--动态渲染轮播图-->
        </div>
        <a class="left carousel-control" href="#imgBox" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#imgBox" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<!-- info   信息-->
<div class="wjs_info hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <a href="javascript:void(0)">
                    <div class="media">
                        <div class="media-left">
                            <span class="wjs_icon wjs_icon_E903"></span>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">交易支付保障</h4>
                            <p>银联支付全称保证支付安全</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="javascript:void(0)">
                    <div class="media">
                        <div class="media-left">
                            <span class="wjs_icon wjs_icon_E901"></span>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">平台财产安全</h4>
                            <p>由PICC保航护驾</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="javascript:void(0)">
                    <div class="media">
                        <div class="media-left">
                            <span class="wjs_icon wjs_icon_E907"></span>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">交易安全</h4>
                            <p>由中国人寿财险对借款人承保</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="javascript:void(0)">
                    <div class="media">
                        <div class="media-left">
                            <span class="wjs_icon wjs_icon_E906"></span>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">安全保障</h4>
                            <p>独创八层安全保障机制</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="javascript:void(0)">
                    <div class="media">
                        <div class="media-left">
                            <span class="wjs_icon wjs_icon_E902"></span>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">筛选优质资产</h4>
                            <p>对接上海资信征信系统</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="javascript:void(0)">
                    <div class="media">
                        <div class="media-left">
                            <span class="wjs_icon wjs_icon_E900"></span>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">联合信息发布</h4>
                            <p>与路透社共同发布利率指数报告</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- book   预约-->
<div class="wjs_book">
    <div class="container">
        <div class="pull-left">
            <span class="wjs_icon wjs_icon_E905"></span>
            <span>现在已有 723 人在排队，累计预约交易成功7571次 。什么是预约投标？ </span>
            <a href="javascript:;" class="book_text">立即预约</a>
        </div>
        <div class="pull-right hidden-xs">
            <span class="wjs_icon wjs_icon_E905"></span>
            <a href="#">微金所企业宣传片</a>
        </div>
    </div>
</div>
<!-- product  产品-->
<div class="wjs_product">
    <div class="container">
        <div class="wjs_tabs-top">
            <!-- Nav tabs -->
            <ul class="nav wjs_tabs" role="tablist">
                <li role="presentation" class="active"><a href="#tab_top_01" aria-controls="home" role="tab" data-toggle="tab">特别推荐</a></li>
                <li role="presentation"><a href="#tab_top_02" aria-controls="profile" role="tab" data-toggle="tab">微投资</a></li>
                <li role="presentation"><a href="#tab_top_03" aria-controls="messages" role="tab" data-toggle="tab">微投资</a></li>
                <li role="presentation"><a href="#tab_top_04" aria-controls="settings" role="tab" data-toggle="tab">微投资</a></li>
                <li role="presentation"><a href="#tab_top_05" aria-controls="settings" role="tab" data-toggle="tab">微投资</a></li>
                <li role="presentation"><a href="#tab_top_06" aria-controls="settings" role="tab" data-toggle="tab">微投资</a></li>
                <li role="presentation"><a href="#tab_top_07" aria-controls="settings" role="tab" data-toggle="tab">微投资</a></li>
            </ul>

        </div>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab_top_01">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <a href="#" class="wjs_product_box exp">
                        <div class="product_right">
                            <p><b>8</b><sub>%</sub></p>
                            <p>年利率</p>
                        </div>
                        <div class="product_left">
                            <span class="wjs_icon wjs_icon_exp"></span>
                            <h3>新手体验标1002期</h3>
                            <div class="col-xs-6 text-left">
                                <p>起投金额(元)</p>
                                <p>0.01万</p>
                            </div>
                            <div class="col-xs-6 text-right">
                                <p>起投金额(元)</p>
                                <p>0.01万</p>
                            </div>

                            <div class="col-xs-6 text-left">
                                <p>起投金额(元)</p>
                                <p>0.01万</p>
                            </div>
                            <div class="col-xs-6 text-right">
                                <p>起投金额(元)</p>
                                <p>0.01万</p>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <a href="#" class="wjs_product_box ">
                        <div class="product_right">
                            <div class="tips_box">
                                <span data-toggle="tooltip" data-placement="top" title="微金所">宝</span>
                                <span data-toggle="tooltip" data-placement="top" title="北京市">北</span>
                            </div>
                            <p><b>8</b><sub>%</sub></p>
                            <p>年利率</p>
                        </div>

                        <div class="product_left">
                            <h3>新手体验标1002期</h3>
                            <div class="col-xs-6">
                                <p>起投金额(元)</p>
                                <p>0.01万</p>
                            </div>
                            <div class="col-xs-6">
                                <p>起投金额(元)</p>
                                <p>0.01万</p>
                            </div>

                            <div class="col-xs-6">
                                <p>起投金额(元)</p>
                                <p>0.01万</p>
                            </div>
                            <div class="col-xs-6">
                                <p>起投金额(元)</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                        <span class="sr-only">60% Complete</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <a href="#" class="wjs_product_box">
                        <div class="product_right">
                            <p><b>8</b><sub>%</sub></p>
                            <p>年利率</p>
                        </div>
                        <div class="product_left">
                            <h3>新手体验标1002期</h3>
                            <div class="col-xs-6 text-left">
                                <p>起投金额(元)</p>
                                <p>0.01万</p>
                            </div>
                            <div class="col-xs-6 text-right">
                                <p>起投金额(元)</p>
                                <p>0.01万</p>
                            </div>

                            <div class="col-xs-6 text-left">
                                <p>起投金额(元)</p>
                                <p>0.01万</p>
                            </div>
                            <div class="col-xs-6 text-right">
                                <p>起投金额(元)</p>
                                <p>0.01万</p>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <a href="#" class="wjs_product_box">
                        <div class="product_right">
                            <p><b>8</b><sub>%</sub></p>
                            <p>年利率</p>
                        </div>
                        <div class="product_left">
                            <h3>新手体验标1002期</h3>
                            <div class="col-xs-6 text-left">
                                <p>起投金额(元)</p>
                                <p>0.01万</p>
                            </div>
                            <div class="col-xs-6 text-right">
                                <p>起投金额(元)</p>
                                <p>0.01万</p>
                            </div>

                            <div class="col-xs-6 text-left">
                                <p>起投金额(元)</p>
                                <p>0.01万</p>
                            </div>
                            <div class="col-xs-6 text-right">
                                <p>起投金额(元)</p>
                                <p>0.01万</p>
                            </div>

                        </div>
                    </a>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab_top_02">
                <a href="#" class="wjs_product_page1"><img src="images/pro1.png" alt=""></a>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab_top_03">
                <a href="#" class="wjs_product_page1"><img src="./images/pro2.png" alt=""></a>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab_top_04">
                <a href="#" class="wjs_product_page1"><img src="./images/pro3.png" alt=""></a>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab_top_05">
                <a href="#" class="wjs_product_page1"><img src="images/pro1.png" alt=""></a>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab_top_06">
                <a href="#" class="wjs_product_page1"><img src="./images/pro2.png" alt=""></a>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab_top_07">
                <a href="#" class="wjs_product_page1"><img src="./images/pro3.png" alt=""></a>
            </div>
        </div>
    </div>
</div>
<!-- news   新闻-->
<div class="wjs_news">
    <div class="container">
        <div class="row">
            <!--<div class="col-md-2">-->

            <!--</div>-->
            <div class="col-md-2 col-md-offset-2">
                <h4>全部新闻</h4>
            </div>
            <div class="col-md-1 ">
                <div class="wjs_line hidden-sm hidden-xs"></div>
                <!-- Nav tabs -->
                <ul class="nav news-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#news_tab01" aria-controls="home" role="tab" data-toggle="tab">
                            <span class="wjs_icon wjs_icon_new01"></span>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#news_tab02" aria-controls="profile" role="tab" data-toggle="tab">
                            <span class="wjs_icon wjs_icon_new02"></span>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#news_tab03" aria-controls="messages" role="tab" data-toggle="tab">
                            <span class="wjs_icon wjs_icon_new03"></span>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#news_tab04" aria-controls="settings" role="tab" data-toggle="tab">
                            <span class="wjs_icon wjs_icon_new04"></span>
                        </a>
                    </li>
                </ul>



            </div>
            <div class="col-md-7">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="news_tab01">
                        <ul class="wjs_news_list">
                            <li><a href="#"><span class="hidden-xs">2016-01-22</span> 【微还款】一周还款公告2016年1月18日-1月24日</a></li>
                            <li><a href="#"><span class="hidden-xs">2016-01-22</span> 【微还款】一周还款公告2016年1月18日-1月24日</a></li>
                            <li><a href="#"><span class="hidden-xs">2016-01-22</span> 【微还款】一周还款公告2016年1月18日-1月24日</a></li>
                            <li><a href="#"><span class="hidden-xs">2016-01-22</span> 【微还款】一周还款公告2016年1月18日-1月24日</a></li>
                            <li><a href="#"><span class="hidden-xs">2016-01-22</span> 【微还款】一周还款公告2016年1月18日-1月24日</a></li>
                            <li><a href="#"><span class="hidden-xs">2016-01-22</span> 【微还款】一周还款公告2016年1月18日-1月24日</a></li>
                            <li><a href="#"><span class="hidden-xs">2016-01-22</span> 【微还款】一周还款公告2016年1月18日-1月24日</a></li>
                        </ul>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="news_tab02">
                        <a href="#">
                            <img src="./images/tab1.png" alt="">
                        </a>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="news_tab03">
                        <a href="#">
                            <img src="./images/tab2.png" alt="">
                        </a>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="news_tab04">
                        <a href="#">
                            <img src="./images/tab1.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- partner  合作伙伴-->
<div class="wjs_partner hidden-xs">
    <h3>合作伙伴</h3>
    <ul>
        <li><a href="javascript:;"><span class="wjs_icon wjs_icon_partner01"></span></a></li>
        <li><a href="javascript:;"><span class="wjs_icon wjs_icon_partner02"></span></a></li>
        <li><a href="javascript:;"><span class="wjs_icon wjs_icon_partner03"></span></a></li>
        <li><a href="javascript:;"><span class="wjs_icon wjs_icon_partner04"></span></a></li>
        <li><a href="javascript:;"><span class="wjs_icon wjs_icon_partner05"></span></a></li>
        <li><a href="javascript:;"><span class="wjs_icon wjs_icon_partner06"></span></a></li>
        <li><a href="javascript:;"><span class="wjs_icon wjs_icon_partner07"></span></a></li>
        <li><a href="javascript:;"><span class="wjs_icon wjs_icon_partner08"></span></a></li>
        <li><a href="javascript:;"><span class="wjs_icon wjs_icon_partner09"></span></a></li>
    </ul>
</div>

<script src="./lib/jquery/jquery.min.js"></script>
<script src="./lib/bootstrap/js/bootstrap.js"></script>
<!--引入渲染模板-->
<script src="./lib/underscore/underscore-min.js"></script>
<!--编辑渲染模板-->
<script type="text/template" id="pointTemplate">
    <% _.each(medol,function(obj , i ){ %>
    <li data-target="#imgBox" data-slide-to="<%=i%>" class="<%= i==0?'active':''%>"></li>
    <%}) %>
</script>
<script type="text/template" id="bannerTemplate">
    <%_.each(medol ,function(item ,index){%>
    <div class="item <%= index == 0 ?'active':''%>">
        <%console.log(flag)%>
        <%if(!flag){%>
        <a href="#" class="pc_img" style='background-image:url("<%= item.pcurl %>")'></a>
        <%}else {%>
        <a href="#" class="mb_img" >
            <img src="<%= item.mburl %>" alt="">
        </a>
        <%}%>
    </div>
    <%})%>
</script>
<script src="./js/swipe.js"></script>
<script src="./js/index.js"></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>
</body>
</html>